{% extends 'base.html' %}

{% block body_block %}
<div class="container mt-3">
    <div class="mt-4 p-5 bg-primary text-white rounded text-center">
        <h1>Welcome to page {{ current_user.username }}</h1>
        <img src="{{ url_for('static', filename='profile_pics/'+ current_user.profile_image) }}" alt="" width="200px" height="200px">
    </div>
</div>


  <div class="container">
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }} 
      <div class="form-group">
          {{ form.username.label(class="form-group")}} {{ form.username(class="form-control")}}
      </div>
      <div class="form-group">
          {{ form.email.label(class="form-group") }} {{ form.email(class="form-control") }}
      </div>
      <div class="form-group">
          {{ form.picture.label(class="form-group") }} {{form.picture(class="form-control") }} 
      <div class="form-group">
      </div>
      <div class="form-group">
          {{form.submit(class="btn btn-success btn-block")}}
      </div>
    </form>
  </div>
{% endblock %}