{% extends 'base.html' %}

{% block body_block %}
<div class="container">
    <form class="form-group" method="post">
        {{ form.hidden_tag() }} 
        <div class="form-group">
            {{ form.title.label(class="form-group")}} {{ form.title(class="form-control")}}
        </div>
        <div class="form-group">
            {{ form.text.label(class="form-group") }} {{form.text(class="form-control") }} 
        </div>
        <br>
        <div class="form-group">
            {{form.submit(class="btn btn-success btn-block")}}
        </div>
    </form>
</div>
{% endblock %}