{% extends 'base.html' %} {% block body_block %}
<div class="container">
  <form method="post">
    {{ form.hidden_tag() }} 
    <div class="form-group">
        {{ form.email.label(class="form-group")}} {{ form.email(class="form-control")}}
    </div>
    <div class="form-group">
        {{ form.username.label(class="form-group") }} {{ form.username(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label(class="form-group") }} {{form.password(class="form-control") }} 
    <div class="form-group">
    </div>
    <div class="form-group">
        {{ form.pass_confirm.label(class="form-group") }} {{ form.pass_confirm(class="form-control") }} 
    </div>
    <div class="form-group">
        {{form.submit(class="btn btn-success btn-block")}}
    </div>
  </form>
</div>
{% endblock %}
